body {
   
    margin: auto;
    background-color: #242434;
    color: #CDCDCD;
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 70%;
    margin: 40px auto;
    font-size: 1.7rem;
}

h1 {
    color: #D6277B;
    opacity: 0.85;
    font-size: 4rem;
    font-family: 'Source Serif Pro', serif;
  }

nav {
  background-color: #242434;
  position: sticky;
  top: 0;
  width: 100%;
  
}

footer {
    
    margin-top: 150px;
    background-color: rgb(199, 75, 135);
    color: #242434;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    margin: 20px 20px 40px 40px;
}


.home {
    height: 90vh;
    margin-top: -100px;
    position: relative;
    max-width: 1000px;
}


.page {
    margin-top: 150px;
}

.about-photo {
    min-width: 200px;
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #3dbfcb;
    flex-basis: 200px;
    background-image: url(../images/profile-pic.png);
    background-size: 200px;
    background-repeat: no-repeat;
}

.about-photo:hover {
    background-image: url(../images/sunglasses.png);
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-8px);
    }
  }


.arrow {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    width: 100px;
}

.card {
    background-color: rgb(91, 91, 91);
    max-width: 25rem;
}

.card-text {
    font-size: 1.1rem;
}

.btn {
    background-color: rgb(223, 223, 223);;
}

.icon {
    max-width: 100px;
}


/* Large tablets/screens */
@media screen and (max-width: 992px) {
    
  }


  /* Tablets & large smart phones */
  @media screen and (max-width: 768px) {
        
    .navbar-nav {
        background-color: #363648;
        margin-top: 5px;
    }

    .nav-item {
        margin: 10px;
    }

    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    h1 {
        font-size: 4rem;
    }

    #description {
        font-size: 1.7rem;
    }

    .about-photo {
        margin-top: 30px;
    }

    .page {
        margin-top: 50px;
    }

    #about {
        margin-top: 100px;
    }
    
  }


  /* Small smartphones */
  @media screen and (max-width: 576px) {
    
    main {
        width: 90%;
    }

    h1 {
        font-size: 2rem;
        padding-bottom: -200px;
    }

    #description {
        font-size: 1.5rem;
    }

    #about {
        font-size: 1rem;
    }

    .card {
        background-color: rgb(91, 91, 91);
        width: 90%;
    }

    #contact p {
        font-size: 1.2rem;
    }

  }