main{
    width: 80%;
    margin: 40px auto;
}

section {
    margin-bottom: 150px;;
}

a {
    color: #EFEFEF;
}

a:hover {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

/* This is the "Hey Scott" header in the nav */
.navbar-brand {
    font-size: 5rem;
    margin: 50px 0px 50px 60px;
}

.navbar-nav {
    margin: 40px;
    font-size: 1.4rem;
}

.nav-item {
    padding: 20px;
}

/* Overriding the Bootstrap "dark theme" nav link color */
.navbar-dark .navbar-nav .nav-link {
    color: #EFEFEF;
}

/* Setting the nav toggler border color and right margin (replacing default Bootstrap color) */ 
.custom-toggler.navbar-toggler { 
    border:2px solid #EFEFEF;
    margin-right: 10px;
} 

/* Setting the nav hamburger icon stroke to white using rgb values (replacing default Bootstrap color)*/ 
.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(239, 239, 239, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

/* Setting nav menu item hover color to white (replacing default Bootstrap color) */
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}

.header-bg {
    background: #F76C6C;
}

/* Setting the font size for the About, Work, and Contact subheaders */
.subheading {
    font-size: 3rem;
}

.about-section {
    width: 80%;
    font-size: 1.2rem;
}

.about-photo {
    width: 200px;
    height: 200px;
    margin: 20px 80px 30px 0;
    border-radius: 50%;
    background-color: #24305E;
    flex-basis: 200px;
    background-image: url(../images/profile-pic.png);
    background-size: 200px;
    background-repeat: no-repeat;
}

.about-photo:hover {
    width: 200px;
    height: 200px;
    margin: 20px 80px 30px 0;
    border-radius: 50%;
    background-color: #24305E;
    flex-basis: 200px;
    background-image: url(../images/sunglasses.png);
    background-size: 200px;
    background-repeat: no-repeat;
}

.bio {
    max-width: 60%;
}

/* The top Work project block */
.spotlight {
    font-size: 2rem;
    color: #EFEFEF;
    width: 80%;
    height: 300px;
    background-image: url(../images/swirl_pattern.png);
    border-radius: 5px;
    text-align: center;
}

.spotlight:hover
    {
    filter: brightness(105%);
}

/* Grouping the sub-proojects under Work */
.work-tile-group {
    width: 80%;
    margin-top: 65px;
    margin-bottom: 30px;
    margin-left: auto;
}

.work-tile-item {
    flex: 1 0 auto;
    font-size: 1.8rem;
    color: #24305E;
    background-color: #A8D0E6;
    border-radius: 5px;
    margin: 5px;
    background-image: url(../images/work-tile.png);
  
}

/* Makes the 3 sub-project work tiles an even square shape */
.work-tile-item:before {
    content:'';
    padding-top:100%;
}

.work-tile-item a,
.work-tile-item:hover {
    color:#24305E;
}

.contact-bubble {
    border-radius: 50%;
    background-color: #24305E;
    width: 200px;
    height: 200px;
    font-size: 1.3rem;
    flex-shrink: 10;
}

.contact-bubble:hover {
    background-color: #F76C6C;
}

footer {
    text-align: center;
    background-color: rgb(168, 208, 230);
    color: #24305E;
    height: 80px;
}

/* Tablets */
@media screen and (max-width: 992px) {
    .about-section,
    .spotlight,
    .work-tile-group {
        width: 100%;
    }
   
  }
  /* Tablets & large smart phones */
  @media screen and (max-width: 768px) {
    section {
        margin-bottom: 30px;
    }

    .about-photo {
        margin: 20px auto;
    }

    .bio {
        max-width: none;
    }
    
  }
  /* Small smartphones */
  @media screen and (max-width: 576px) {
    .navbar-brand {
      font-size: 2rem;
      margin: 10px;
    }

    .navbar-nav {
        margin: 10px;
        font-size: 1.4rem;
    }

    .work-tile-group {
        margin-top: 20px;
    }

    .work-tile-item {
        margin: 20px auto;
    }

    .contact-bubble {
        margin: 25px;
    }

  }