

body {
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 150px;;
}

main{
    width: 80%;
    margin: 40px auto;
}

a {
    color: #EFEFEF;
}

a:hover {
    color: white;
}

.navbar-brand {
    font-size: 5rem;
    margin: 50px 0px 50px 60px;
    
}

.navbar-nav {
    margin: 40px;
    font-size: 1.4rem;
}

.nav-item {
    padding: 20px;
}

/* Overriding the Bootstrap "dark theme" nav link color */
.navbar-dark .navbar-nav .nav-link {
    color: #EFEFEF;
}

/* Setting the nav toggler border color and right margin */ 
.custom-toggler.navbar-toggler { 
    border:2px solid #EFEFEF;
    margin-right: 10px;
} 

/* Setting the nav hamburger icon stroke to white using rgb values*/ 
.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(239, 239, 239, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

/* Resetting Bootstrap nav menu hover color to white */
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: white;
}

.header-bg {
    background: #F76C6C;
}

.about-section {
    width: 80%;
}

.about-photo {
    width: 200px;
    height: 200px;
    margin: 20px 80px 30px 0;
    border-radius: 50%;
    background-color: #24305E;
    flex-basis: 200px;
    background-image: url(../images/scott.jpg);
}

.bio {
    flex-shrink: 10;
    max-width: 60%;
}

.subheading {
    font-size: 3rem;
}

.spotlight {
    font-size: 2rem;
    color: #EFEFEF;
    width: 80%;
    height: 300px;
    background-image: url(../images/swirl_pattern.png);
    border-radius: 5px;
    text-align: center;
}

.work-tile-group {
    width: 80%;
    margin-top: 65px;
    margin-bottom: 30px;
    margin-left: auto;
}

.work-tile-item {
    width: 33.33%;
    height: 400px;
    font-size: 1.8rem;
    color: #24305E;
    background-color: #A8D0E6;
    border-radius: 5px;
    margin-bottom: 30px;
    margin: 20px;
    background-image: url(../images/work-tile.png);
    flex-basis: 400px;
}

.work-tile-item a {
    color:#24305E;
}

.contact-bubble {
    border-radius: 50%;
    background-color: #24305E;
    width: 200px;
    height: 200px;
}

.spotlight:hover,
.work-tile-item:hover,
.contact-bubble:hover {
    filter: brightness(105%);
}

footer {
    text-align: center;
    background-color: #A8D0E6;
    color: #24305E;
    height: 80px;
}

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    header {
      
    }
  }
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    nav {
      
    }
  }
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .navbar-brand {
      font-size: 2rem;
    }
    .about-section,
    .spotlight,
    .work-tile-group {
        width: 100%;
    }
    .bio {
        max-width: none;
    }

    .work-tile-group {
        margin-top: 20px;
    }

    .work-tile-item {
        margin: 20px auto;
        height: 300px;
    }

    .contact-bubble {
        margin: 25px;
    }

  }